$orange:hsl(26, 100%, 55%);
$orange-pale:hsl(25, 100%, 94%);
$very-dark-blue:hsl(220, 13%, 13%);
$dark-g-blue: hsl(217, 9%, 45%);
$light-g-blue: #f7f8fd;
$g-blue:#b6bcc8;
$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%); // 75opacity
$grey:rgba(180, 179, 179, 0.253);